/* Styles for the footer */
@import 'variables';

/* Footer container */

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: solid 1px black;
    
    ul{
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 86px;
        @media (max-width: $mobile-breakpoint) {
            height: 208px;
            flex-direction: column;
            gap: 24px;
          } 
    }

}