/* Styles for the header */
@import 'variables';

.active{
    display: block;
}

/* Header container */

ul{
    list-style-type: none;

    a{
        font-family: 'SpaceMono';
        text-transform: uppercase;
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
    } 

}

header {
    display: flex;
    justify-content: space-between;
    padding: 0px 146px 0px 146px;
    align-items: center;
    @media (max-width: $mobile-breakpoint) {
        padding: 0px 40px 0px 26px;
      }

    .custom-logo-link, .logo{
        width: 216px;
        @media (max-width: $mobile-breakpoint) {
            width: 138px;
          }
    }

    .desktop-menu{
        display: flex;
        justify-content: space-around;
        gap: 45px;
        a{
            color: black;
            font-size: 14px;
            line-height: 21px;
            }  
        
        @media (max-width: $mobile-breakpoint) {
            display: none;
          }
    }

    .mobile-menu{
        display: none;
        @media (max-width: $mobile-breakpoint) {
            display: block;
          }
          .mobile-menu__toggle--closed{
            display: none;
          }
    }
 }

 .fullscreen-menu{
    // display: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    background-color: $primary-red;
    height: 100vh;
    a{
        color: white;
        font-size: 44px;
        line-height: 65px;
        }  
}




  