@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: inherit;
  color: inherit;
  font: inherit;
}

body {
  background-color: white;
}
body main {
  margin: auto;
}

/* Fonts */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: local("Poppins"), url("../assets/fonts/poppins/Poppins-Light.woff") format("woff"), url("../assets/fonts/poppins/Poppins-Light.woff2") format("woff2");
}
@font-face {
  font-family: "SpaceMono";
  font-style: italic;
  font-weight: 700;
  src: local("SpaceMono"), url("../assets/fonts/spacemono/SpaceMono-BoldItalic.woff") format("woff"), url("../assets/fonts/spacemono/SpaceMono-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "SpaceMono";
  font-style: italic;
  font-weight: 400;
  src: local("SpaceMono"), url("../assets/fonts/spacemono/SpaceMono-Italic.woff") format("woff"), url("../assets/fonts/spacemono/SpaceMono-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "SpaceMono";
  font-style: normal;
  font-weight: 400;
  src: local("SpaceMono"), url("../assets/fonts/spacemono/SpaceMono-Regular.woff") format("woff"), url("../assets/fonts/spacemono/SpaceMono-Regular.woff2") format("woff2");
}
/* Global style */
h1, h2, h3, h4 {
  font-family: "SpaceMono";
  text-transform: uppercase;
}

h1, h2 {
  font-style: italic;
}

h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 142px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 27px;
  }
}

h2 {
  font-size: 66px;
  line-height: 58px;
  font-weight: 400;
}
@media (max-width: 768px) {
  h2 {
    font-size: 46px;
  }
}

h3, h4 {
  font-style: normal;
}

h3 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

h4 {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

p {
  font-family: "Poppins";
  font-size: 14px;
}

/* Styles for the header */
.active {
  display: block;
}

.inactive {
  display: none;
}

/* Ceci est un test */
/* Animations */
@keyframes opacity {
  from {
    opacity: 0;
    transform: translateY(-80vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Header container */
ul {
  list-style-type: none;
}
ul a {
  font-family: "SpaceMono";
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
}

header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding: 0px 146px 0px 146px;
  height: 80px;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0901960784);
  z-index: 100;
}
@media (max-width: 768px) {
  header {
    padding: 0px 40px 0px 40px;
    height: 72px;
  }
}
header img {
  width: 216px;
}
@media (max-width: 768px) {
  header img {
    width: 138px;
    height: 9px;
  }
}
header .desktop-menu {
  display: flex;
  justify-content: space-around;
  gap: 45px;
}
header .desktop-menu a {
  color: black;
  font-size: 14px;
  line-height: 21px;
}
@media (max-width: 768px) {
  header .desktop-menu {
    display: none;
  }
}
header .mobile-menu {
  display: none;
  font-size: 21px;
}
@media (max-width: 768px) {
  header .mobile-menu {
    display: block;
  }
}
header .mobile-menu .mobile-menu__toggle--closed {
  display: none;
}

.fullscreen-menu {
  position: sticky;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  background-color: #E00000;
  height: 100vh;
  animation: opacity 1s ease-in-out;
}
.fullscreen-menu a {
  color: white;
  font-size: 44px;
  line-height: 65px;
}

/* Styles for the footer + contact */
/* Footer container */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: solid 1px black;
  background-color: white;
  z-index: 1;
}
footer ul {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 86px;
}
@media (max-width: 768px) {
  footer ul {
    height: 208px;
    flex-direction: column;
    gap: 24px;
  }
}

/* Contact modal container */
.popup-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3764705882);
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 3;
}

.popup-contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 597px;
  height: 769px;
  border: solid 5px black;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
}
@media (max-width: 768px) {
  .popup-contact {
    width: 286px;
    height: 583px;
    border-width: 3px;
  }
}
.popup-contact .popup-header img {
  display: block;
  margin: 0 auto;
  width: 150%;
  height: auto;
}
.popup-contact form {
  width: 263px;
  gap: 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (max-width: 768px) {
  .popup-contact form {
    width: 190px;
    gap: 14px;
  }
}
.popup-contact form label {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.popup-contact form input {
  line-height: 40px;
  border: solid 1px #B8BBC2;
  border-radius: 8px;
  max-width: 100%;
}
.popup-contact form .wpcf7-submit {
  width: 263px;
  height: 50px;
  background-color: #D8D8D8;
  font-family: "SpaceMono";
  font-weight: 400;
  font-size: 12px;
  border-radius: 2px;
  border: none;
}
@media (max-width: 768px) {
  .popup-contact form .wpcf7-submit {
    width: 190px;
  }
}
.popup-contact form textarea {
  border: solid 1px #B8BBC2;
  border-radius: 8px;
  width: 263px;
  height: 210px;
}
@media (max-width: 768px) {
  .popup-contact form textarea {
    width: 190px;
    height: 149px;
  }
}

.singlephoto {
  height: 100vh;
  max-width: 80%;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.photo {
  display: flex;
  gap: 21px;
}
.photo .meta {
  flex: 1;
  border-bottom: 1px solid black;
  display: flex;
  align-items: end;
}
.photo .meta--data {
  max-width: 420px;
  align-items: end;
  margin-bottom: 37px;
}
.photo .meta--data ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.photo .meta--data h1 {
  font-size: 66px;
  line-height: 58px;
  margin-bottom: 20px;
}
.photo .pic {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  object-fit: cover;
  overflow: hidden;
  align-items: center;
  text-align: center;
  max-height: calc(100vh - 128px - 80px - 40px);
}
.photo .pic img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.contactnav {
  width: 100%;
  height: 118px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contactnav .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.contactnav .contact button {
  width: 272px;
  height: 50px;
  background-color: #D8D8D8;
  font-family: "SpaceMono";
  font-weight: 400;
  font-size: 12px;
  border-radius: 2px;
  border: none;
}
.contactnav .photonav {
  width: 81px;
  height: 71px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.contactnav .photonav a img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.contactnav .photoarrows {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

/* Styles pour les écrans mobiles (max-width: 767px) */
@media screen and (max-width: 767px) {
  .section.photo {
    flex-direction: column; /* Mettez les éléments en colonne */
  }
}/*# sourceMappingURL=style.css.map */