/* Fonts */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: local("Poppins"), url("../assets/fonts/poppins/Poppins-Light.woff") format("woff"), url("../assets/fonts/poppins/Poppins-Light.woff2") format("woff2");
}
@font-face {
  font-family: "SpaceMono";
  font-style: italic;
  font-weight: 700;
  src: local("SpaceMono"), url("../assets/fonts/spacemono/SpaceMono-BoldItalic.woff") format("woff"), url("../assets/fonts/spacemono/SpaceMono-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "SpaceMono";
  font-style: italic;
  font-weight: 400;
  src: local("SpaceMono"), url("../assets/fonts/spacemono/SpaceMono-Italic.woff") format("woff"), url("../assets/fonts/spacemono/SpaceMono-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "SpaceMono";
  font-style: normal;
  font-weight: 400;
  src: local("SpaceMono"), url("../assets/fonts/spacemono/SpaceMono-Regular.woff") format("woff"), url("../assets/fonts/spacemono/SpaceMono-Regular.woff2") format("woff2");
}
.active {
  display: block;
}

.inactive {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: inherit;
  color: inherit;
  font: inherit;
}

button {
  width: 272px;
  height: 50px;
  line-height: 100%;
  background-color: #D8D8D8;
  font-family: "SpaceMono";
  font-weight: 400;
  font-size: 12px;
  border-radius: 2px;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

body {
  background-color: white;
}
body main {
  margin: auto;
}

#loader {
  display: none;
  position: fixed;
  bottom: 10%;
  left: 50%;
}

/* Global style */
h1, h2, h3, h4 {
  font-family: "SpaceMono";
  text-transform: uppercase;
}

h1, h2 {
  font-style: italic;
}

h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 142px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 27px;
  }
}

h2 {
  font-size: 66px;
  line-height: 58px;
  font-weight: 400;
}
@media (max-width: 768px) {
  h2 {
    font-size: 46px;
  }
}

h3, h4 {
  font-style: normal;
}

h3 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

h4 {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

p {
  font-family: "Poppins";
  font-size: 14px;
}

/* Styles for the header */
/* Animations */
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-80vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
/* Header container */
ul {
  list-style-type: none;
}
ul a {
  font-family: "SpaceMono";
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
}

header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding: 0px 146px 0px 146px;
  height: 80px;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0901960784);
}
@media (max-width: 768px) {
  header {
    padding: 0px 40px 0px 40px;
    height: 72px;
    z-index: 3;
  }
}
header img {
  width: 216px;
}
@media (max-width: 768px) {
  header img {
    width: 138px;
    height: 9px;
  }
}
@media (max-width: 768px) {
  header .menu {
    display: block;
  }
}
header .menu .mobile-menu__toggle--closed {
  display: none;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  gap: 45px;
}
header nav a {
  color: black;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
header nav a:hover {
  font-weight: 700;
}
@media (max-width: 768px) {
  header nav {
    position: absolute;
    top: 72px;
    left: 0px;
    z-index: 2;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 18px;
    background-color: #E00000;
    height: 100vh;
    animation: fadein 1s ease-in-out;
    width: 100%;
  }
  header nav a {
    color: white;
    font-size: 44px;
    line-height: 65px;
  }
}
header .hamburger {
  display: none;
}
@media (max-width: 768px) {
  header .hamburger {
    display: block;
  }
}
header .hamburger {
  display: none;
}
@media (max-width: 768px) {
  header .hamburger {
    display: block;
  }
}
header .cross {
  display: none;
}

/* Styles for the footer + contact */
/* Footer container */
footer {
  width: 100%;
  border-top: solid 1px black;
  background-color: white;
  z-index: 1;
  clear: both;
}
footer ul {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 86px;
}
@media (max-width: 768px) {
  footer ul {
    height: 208px;
    position: relative;
    flex-direction: column;
    gap: 24px;
  }
}

/* Contact modal container */
.popup-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3764705882);
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 3;
}

.popup-contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 597px;
  height: 769px;
  border: solid 5px black;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  z-index: 100;
}
@media (max-width: 768px) {
  .popup-contact {
    width: 286px;
    height: 583px;
    border-width: 3px;
  }
}
.popup-contact .popup-header img {
  display: block;
  margin: 0 auto;
  width: 150%;
  height: auto;
}
.popup-contact form {
  width: 263px;
  gap: 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
}
@media (max-width: 768px) {
  .popup-contact form {
    width: 190px;
    gap: 14px;
  }
}
.popup-contact form label {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.popup-contact form input {
  line-height: 40px;
  border: solid 1px #B8BBC2;
  border-radius: 8px;
  max-width: 100%;
  padding-left: 10px;
}
.popup-contact form .wpcf7-submit {
  width: 263px;
  height: 50px;
  background-color: #D8D8D8;
  font-family: "SpaceMono";
  font-weight: 400;
  font-size: 12px;
  border-radius: 2px;
  border: none;
}
@media (max-width: 768px) {
  .popup-contact form .wpcf7-submit {
    width: 190px;
  }
}
.popup-contact form .wpcf7-submit:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.popup-contact form textarea {
  border: solid 1px #B8BBC2;
  border-radius: 8px;
  width: 263px;
  height: 210px;
  padding: 10px;
}
@media (max-width: 768px) {
  .popup-contact form textarea {
    width: 190px;
    height: 15vh;
  }
}

.lightbox {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5647058824);
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 3;
}
.lightbox .lightboxclose {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: transparent;
  color: white;
  width: 22px;
  height: 22px;
  padding: 52px 52px 0px 0px;
  font-size: 22px;
}
.lightbox .lightboxnext,
.lightbox .lightboxprev {
  background-color: transparent;
  color: white;
  width: 110px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .lightbox .lightboxnext,
  .lightbox .lightboxprev {
    position: absolute;
  }
}
.lightbox .lightboxnext,
.lightbox .lightboxprev:hover {
  font-weight: 700;
}
@media (max-width: 768px) {
  .lightbox .lightboxnext {
    right: 0;
  }
}
@media (max-width: 768px) {
  .lightbox .lightboxprev {
    left: 0;
  }
}
.lightbox .lightboxcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding: 0 43px;
  gap: 61px;
}
@media (max-width: 768px) {
  .lightbox .lightboxcontainer {
    padding: 0 5px;
  }
}
.lightbox .lightboxcontainer--photo {
  display: flex;
  flex-direction: column;
}
.lightbox .lightboxcontainer--photo img {
  object-fit: contain;
  max-height: 80vh;
  max-width: 100%;
}
.lightbox .lightboxcontainer--photometa {
  display: flex;
  justify-content: space-between;
  color: white;
}

.singlephoto {
  padding-top: 38px;
  height: 100vh;
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.singlephoto h1 {
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .singlephoto {
    height: auto;
    padding-top: 20px;
  }
}

.photo {
  display: flex;
  gap: 21px;
}
@media screen and (max-width: 768px) {
  .photo {
    flex-direction: column-reverse;
  }
}
.photo .meta {
  flex: 1;
  border-bottom: 1px solid black;
  display: flex;
  align-items: end;
}
@media screen and (max-width: 768px) {
  .photo .meta {
    padding: 5px 0px 5px 0px;
  }
}
.photo .meta--data {
  max-width: 420px;
  align-items: end;
  margin-bottom: 37px;
}
.photo .meta--data ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .photo .meta--data ul {
    gap: 15px;
  }
}
.photo .meta--data h1 {
  font-size: 66px;
  line-height: 58px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .photo .meta--data h1 {
    font-size: 46px;
    line-height: 48px;
  }
}
.photo .pic {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  object-fit: cover;
  overflow: hidden;
  text-align: center;
  height: calc(100vh - 128px - 38px);
}
@media screen and (max-width: 768px) {
  .photo .pic {
    height: calc(100vh - 72px - 20px - 140px);
  }
}
.photo .pic img {
  max-height: 100%;
  object-fit: cover;
  height: calc(100vh - 128px - 38px);
}
@media screen and (max-width: 768px) {
  .photo .pic img {
    height: calc(100vh - 72px - 20px - 140px);
  }
}

.contactnav {
  width: 100%;
  height: 118px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
@media screen and (max-width: 768px) {
  .contactnav {
    flex-direction: column;
    height: 125px;
    justify-content: center;
  }
}
.contactnav .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .contactnav .contact {
    width: 120%;
    flex-direction: column;
    gap: 15px;
  }
}
.contactnav .photonav {
  flex-direction: column;
  justify-content: space-between;
  gap: 19px;
  align-items: center;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .contactnav .photonav {
    display: none;
  }
}
.contactnav .photonav--photo {
  width: 81px;
  height: 71px;
  position: relative;
}
.contactnav .photonav--photo a img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.contactnav .photoarrows {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.upsell {
  max-width: 80%;
  margin: auto;
  padding-bottom: 64px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.upsell h3 {
  padding: 77px 0px 52px 0px;
}
@media screen and (max-width: 768px) {
  .upsell h3 {
    padding: 24px 0px 20px 0px;
    text-align: center;
  }
}

.load {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upsell_block {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 20px;
  padding-bottom: 50px;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .upsell_block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.photo-container {
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 564px;
  height: 495px;
  overflow: hidden;
  object-fit: cover;
  display: flex;
}
@media screen and (max-width: 768px) {
  .photo-container {
    height: 270px;
    width: 90%;
  }
}

.upsellphoto {
  object-fit: cover;
  width: 564px;
  height: 495px;
}
@media screen and (max-width: 768px) {
  .upsellphoto {
    width: 300px;
    height: 270px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s;
}

.icons {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.fullscreen-icon {
  position: absolute;
  top: 11px;
  right: 18px;
}

.fullscreen-icon:hover {
  cursor: pointer;
}

.photo-container:hover .icons,
.photo-container:hover .overlay {
  opacity: 1;
}

select {
  display: block !important;
  margin-top: 10px;
  background-color: white;
}

select option {
  background-color: #E00000;
}

.hero {
  height: 962px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    height: 253px;
  }
}
.hero h1 {
  position: relative;
  z-index: 2;
  text-align: center;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 3px white;
}
@media screen and (max-width: 768px) {
  .hero h1 {
    -webkit-text-stroke: 0.86px white;
  }
}
.hero--img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.photolist {
  padding: 80px 146px 64px 146px;
}
@media screen and (max-width: 768px) {
  .photolist {
    padding: 35px 0px 22px 0px;
    flex-direction: column;
  }
}
.photolist .filters-order {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  max-width: 1200px;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .photolist .filters-order {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
.photolist .filters-order select {
  font-size: 12px;
  height: 40px;
  font-weight: 500;
  text-transform: uppercase;
  border: solid 1px #B8BBC2;
  border-radius: 8px;
  width: 260px;
  font-family: "poppins";
  padding: 12px;
}
@media screen and (max-width: 768px) {
  .photolist .filters-order select {
    flex-direction: column;
  }
}
.photolist .filters-order select:after {
  top: 50%;
  left: 85%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: relative;
  margin-top: -2px;
  background-color: white;
}
.photolist .filters-order #photo-filters {
  display: flex;
  justify-content: space-between;
  gap: 36px;
}
@media screen and (max-width: 768px) {
  .photolist .filters-order #photo-filters {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0px;
  }
}/*# sourceMappingURL=style.css.map */