/* Styles for the header */
@import 'variables';


/* Ceci est un test */
/* Animations */
@keyframes opacity{
    from{
        opacity: 0;
        transform: translateY(-80vh)
    }
    to{
        opacity: 1;
        transform: translateY(0)
    }
}

/* Header container */

ul{
    list-style-type: none;

    a{
        font-family: 'SpaceMono';
        text-transform: uppercase;
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
    } 

}

header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding: 0px 146px 0px 146px;
    height: 80px;
    align-items: center;
    box-shadow: 0px 4px 4px $shadow;
    @media (max-width: $mobile-breakpoint) {
        padding: 0px 40px 0px 40px;
        height: 72px;
        z-index: 3;
      }

    img{
        width: 216px;
        @media (max-width: $mobile-breakpoint) {
            width: 138px;
            height: 9px;
          }
    }

    .menu{
        @media (max-width: $mobile-breakpoint) {
            display: block;
          }
        .mobile-menu__toggle--closed{
            display: none;
          }
        }

    nav{

        ul{
            display: flex;
            justify-content: space-around;
            gap: 45px;
        }

        a{
            color: black;
            font-size: 14px;
            line-height: 21px;
            }  
        
        @media (max-width: $mobile-breakpoint) {
            position: absolute;
            top: 72px;
            left: 0px;
            z-index: 2;
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 18px;
            background-color: $primary-red;
            height: 100vh;
            animation: opacity 1s ease-in-out;
            width: 100%;
            a{
                color: white;
                font-size: 44px;
                line-height: 65px;
                }  
          }
    }

    .hamburger{
        display: none;
        @media (max-width: $mobile-breakpoint) {
            display: block;
      }
    }

    .hamburger{
        display: none;
        @media (max-width: $mobile-breakpoint) {
            display: block;
      }
    }

    .cross{
        display: none;
    }

}




