/* Styles for the header */
@import 'variables';


/* Ceci est un test */
/* Animations */
@keyframes opacity{
    from{
        opacity: 0;
        transform: translateY(-80vh)
    }
    to{
        opacity: 1;
        transform: translateY(0)
    }
}

/* Header container */

ul{
    list-style-type: none;

    a{
        font-family: 'SpaceMono';
        text-transform: uppercase;
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
    } 

}

header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding: 0px 146px 0px 146px;
    height: 80px;
    align-items: center;
    box-shadow: 0px 4px 4px $shadow;
    z-index: 100;
    @media (max-width: $mobile-breakpoint) {
        padding: 0px 40px 0px 40px;
        height: 72px;
      }

    img{
        width: 216px;
        @media (max-width: $mobile-breakpoint) {
            width: 138px;
            height: 9px;
          }
    }

    .desktop-menu{
        display: flex;
        justify-content: space-around;
        gap: 45px;
        a{
            color: black;
            font-size: 14px;
            line-height: 21px;
            }  
        
        @media (max-width: $mobile-breakpoint) {
            display: none;
          }
    }

    .mobile-menu{
        display: none;
        font-size: 21px;
        @media (max-width: $mobile-breakpoint) {
            display: block;
          }
          .mobile-menu__toggle--closed{
            display: none;
          }
    }
 }

 .fullscreen-menu{
    position: sticky;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    background-color: $primary-red;
    height: 100vh;
    animation: opacity 1s ease-in-out;
    a{
        color: white;
        font-size: 44px;
        line-height: 65px;
        }  
}




  