.hero{
    height: 962px;
    display: flex;
    justify-content: center ;
    align-items: center;
    position: relative;
    @media screen and (max-width: $mobile-breakpoint) {
        height: 253px;
          }
    h1{
        position: relative;
        z-index: 2;
        text-align: center;
        color: rgba(255, 255, 255, 0); 
        -webkit-text-stroke: 3px white; 
        @media screen and (max-width: $mobile-breakpoint) {
            -webkit-text-stroke: 0.86px white; 
              }
    }
    &--img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        object-fit: cover;
    }
} 

.photolist{
    
    padding: 80px 146px 64px 146px;

    @media screen and (max-width: $mobile-breakpoint) {
        padding: 35px 0px 22px 0px;
        flex-direction: column;
          }
    
          .filters-order{
            display: flex;
            justify-content: space-between;
            padding-bottom: 40px;
            @media screen and (max-width: 1200px) {
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }

                select{
                    font-size: 12px;
                    height: 40px;
                    font-weight: 500;
                    text-transform: uppercase;
                    border: solid 1px $form-grey;
                    border-radius: 8px;
                    width: 260px;
                    font-family: 'poppins';
                    padding: 12px;
                    @media screen and (max-width: $mobile-breakpoint) {
                        flex-direction: column;
                    }
                }

                #photo-filters{
                    display: flex;
                    justify-content: space-between;
                    gap: 36px;
                    @media screen and (max-width: $mobile-breakpoint) {
                        flex-direction: column;
                        align-items: center;
                        gap: 10px;
                        padding: 0px;
                    }
                    
                }
            }
        }
    