.active{
  display: block;
}

.inactive{
  display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: inherit;
    color: inherit;
    font: inherit;
  }

button{
    width: 272px;
    height: 50px;
    line-height: 100%;
    background-color: $medium-grey;
    font-family: 'SpaceMono'; 
    font-weight: 400;
    font-size: 12px;
    border-radius: 2px;
    border: none;
}
button:hover{
  cursor: pointer;
}

body{
  background-color: white;
  main{
    margin: auto;
  }
}

#loader{
  display: none;
  position: fixed;
  bottom: 10%;
  left: 50%;
}


/* Global style */

h1, h2, h3, h4 {
    font-family: 'SpaceMono';
    text-transform: uppercase;
  }
  
  h1, h2 {
    font-style: italic;
  }
  
  h1 {
    font-size: 96px;
    font-weight: 700;
    line-height: 142px;
  
    @media (max-width: $mobile-breakpoint) {
      font-size: 27px;
    }
  }
  
  h2 {
    font-size: 66px;
    line-height: 58px;
    font-weight: 400;

    @media (max-width: $mobile-breakpoint) {
        font-size: 46px;
      }
  }
  
  h3, h4 {
    font-style: normal;
  }
  
  h3 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
  }
  
  h4 {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }

p{
    font-family: 'Poppins';
    font-size: 14px;
}

