.singlephoto{
  padding-top: 38px;
  height: 100vh;
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: $mobile-breakpoint) {
    height: auto;
    padding-top: 20px;
  }
}

.photo {

    display: flex;
    gap: 21px;
    @media screen and (max-width: $mobile-breakpoint) {
        flex-direction: column-reverse;
      }
   
    .meta {
        flex: 1;
        border-bottom: 1px solid black;
        display: flex;
        align-items: end;
        @media screen and (max-width: $mobile-breakpoint) {
          padding: 5px 0px 5px 0px;
        }
        &--data{
            max-width: 420px;
            align-items: end;
            margin-bottom: 37px;
            ul{
            display: flex;
            flex-direction: column;
            gap: 20px;
              @media screen and (max-width: $mobile-breakpoint) {
              gap: 15px;
              }

            }
            h1{
              font-size: 66px;
              line-height: 58px;
              margin-bottom: 20px;
              @media screen and (max-width: $mobile-breakpoint) {
              font-size: 46px;
              line-height: 48px;
              }
            }
      }
    }
   
    .pic {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        object-fit: cover;
        overflow: hidden;
        text-align: center;
        height: calc(100vh - 128px - 38px);
        @media screen and (max-width: $mobile-breakpoint) {
          height: calc(100vh - 72px - 20px - 140px);
          }
        img{
          max-height: 100%;
          object-fit: cover;
          height: calc(100vh - 128px - 38px);
          @media screen and (max-width: $mobile-breakpoint) {
            height: calc(100vh - 72px - 20px - 140px);
            }
        }
      }    
  
}

  
  
  .contactnav {
    width: 100%;
    height: 118px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    @media screen and (max-width: $mobile-breakpoint) {
      flex-direction: column;
      height: 125px;
      justify-content: center;
      }
    .contact{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50%;
      @media screen and (max-width: $mobile-breakpoint) {
        width: 120%;
        flex-direction: column;
        gap: 15px;
        }
    }
    .photonav{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 19px;
      align-items: center;
      overflow: hidden;
      @media screen and (max-width: $mobile-breakpoint) {
      display: none;
        }
      &--photo{
        width: 81px;
        height: 71px;
        position: relative;
        a img{
          object-fit: cover;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      }
      .photoarrows{
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: center;
      }
    }

.upsell{
    max-width: 80%;
    margin: auto;
    padding-bottom: 64px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    h3{
      padding: 77px 0px 52px 0px;
      @media screen and (max-width: $mobile-breakpoint) {
        padding: 24px 0px 20px 0px;
        text-align: center;
          }
    }

    .upsell_block{
    display: flex;
    gap: 20px;
    padding-bottom: 50px;
    @media screen and (max-width: $mobile-breakpoint) {
      display: flex;
      flex-direction: column;
        }

    .photo-container {
      position: relative;
      display: inline-block;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 495px;
      overflow: hidden;
      object-fit: cover;
      display : flex;
      @media screen and (max-width: $mobile-breakpoint) {
          width: 100%;
          height: 320px;
            }
    }

      .overlay {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.6); 
              opacity: 0; 
              transition: opacity 0.3s;
          }

      .icons {
        position: absolute;
        opacity: 0;
        transition: opacity 0.3s;
      }
        .eye-icon{
          position: absolute;
          top: 50%;
          right: 50%;
          transform: translate(50%, -50%); 
        }
        .fullscreen-icon{
          position: absolute;
          top: 11px;
          right: 18px;
        }

      .photo-container:hover .icons, 
      .photo-container:hover .overlay{
        opacity: 1;
      }

    }
  }
  .load{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
