.singlephoto{
  height: 100vh;
  max-width: 80%;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: $mobile-breakpoint) {
    height: auto;
  }
}

.photo {

    display: flex;
    gap: 21px;
    @media screen and (max-width: $mobile-breakpoint) {
        flex-direction: column-reverse;
      }
   
    .meta {
        flex: 1;
        border-bottom: 1px solid black;
        display: flex;
        align-items: end;
        @media screen and (max-width: $mobile-breakpoint) {
          padding: 5px 0px 5px 0px;
        }
        &--data{
            max-width: 420px;
            align-items: end;
            margin-bottom: 37px;
            ul{
            display: flex;
            flex-direction: column;
            gap: 20px;
              @media screen and (max-width: $mobile-breakpoint) {
              gap: 15px;
              }

            }
            h1{
              font-size: 66px;
              line-height: 58px;
              margin-bottom: 20px;
              @media screen and (max-width: $mobile-breakpoint) {
              font-size: 46px;
              line-height: 48px;
              }
            }
      }
    }
   
    .pic {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        object-fit: cover;
        overflow: hidden;
        text-align: center;
        padding-top: 38px;
        height: calc(100vh - 128px - 80px);
        @media screen and (max-width: $mobile-breakpoint) {
          height: calc(100vh - 72px - 276px);
          padding-top: 20px;
          }
        img{
          max-height: 100%;
          object-fit: cover;
          height: calc(100vh - 128px - 80px);
          @media screen and (max-width: $mobile-breakpoint) {
            height: calc(100vh - 72px - 276px);
            }
        }
      }    
  
}

  
  
  .contactnav {
    width: 100%;
    height: 118px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    @media screen and (max-width: $mobile-breakpoint) {
      flex-direction: column;
      height: 125px;
      justify-content: center;
      }
    .contact{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50%;
      @media screen and (max-width: $mobile-breakpoint) {
        width: 120%;
        flex-direction: column;
        gap: 15px;
        }
      button{
        width: 272px;
        height: 50px;
        background-color: $medium-grey;
        font-family: 'SpaceMono'; 
        font-weight: 400;
        font-size: 12px;
        border-radius: 2px;
        border: none;
      }
    }
    .photonav{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 19px;
      align-items: center;
      overflow: hidden;
      @media screen and (max-width: $mobile-breakpoint) {
      display: none;
        }
      &--photo{
        width: 81px;
        height: 71px;
        position: relative;
        a img{
          object-fit: cover;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      }
      .photoarrows{
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: center;
      }
    }

.upsell{
    max-width: 80%;
    margin: auto;
  }
  
