.singlephoto{
  height: 100vh;
  max-width: 80%;
  margin: auto;
}

.photo {
    h1{
        font-size: 66px;
        line-height: 58px;
        margin-bottom: 20px;
    }
    display: flex;
    gap: 21px;
    .meta {
        width: 50%;
        border-bottom: 1px solid black;
        display: flex;
        align-items: end;
        &--data{
            max-width: 420px;
            align-items: end;
            margin-bottom: 37px;
            ul{
            display: flex;
            flex-direction: column;
            gap: 20px;
          }
      }
      .pic {
        display: flex;
        align-items: end;
        width: 50%;
        display: flex;
        object-fit: cover;
        overflow: hidden;
      }    
  }
}
  
  
  .contactnav {
    width: 100%;
    height: 118px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .contact{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50%;
      button{
        width: 272px;
        height: 50px;
        background-color: $medium-grey;
        font-family: 'SpaceMono'; 
        font-weight: 400;
        font-size: 12px;
        border-radius: 2px;
        border: none;
      }
    }
    .photonav{
      width: 81px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .photoarrows{
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: center;
      }

    }
  }
  
  /* Styles pour les écrans mobiles (max-width: 767px) */
  @media screen and (max-width: 767px) {
    .section.photo {
      flex-direction: column; /* Mettez les éléments en colonne */
    }
  
    .meta,
    .pic {
      width: 100%;
    }
  }